<!DOCTYPE html>
<html>
  <head>
    <title>GeniusClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css?family=Public+Sans:500&display=swap" rel="stylesheet">

    <%# favicon links %>

  </head>


  <script type="text/javascript">
    window.imagesUrl = { sprites: "<%= image_url('sprites.png')%>" }
  </script>

  <body>
    <%= yield %>
  </body>
</html>
